footer{
  border-top: 1px solid #DADCDD;
  .container{
    .footer__content{
      padding: 80px 0px;
      @include flex(row, flex-start, space-between);
      .footer__content__left{
        a{
          img{
            margin-bottom: 40px;
          }
        }
        ul{
          @include flex(column, flex-start, flex-start);
          gap: 30px;
          li{
            a{
              p{
                color: var(--gray-900);
                font-size: 16px;
                font-weight: 600;
                line-height: 130%;
                margin-bottom: 10px;
              }
              span{
                color: var(--gray-700);
                font-size: 16px;
                font-weight: 400;
                line-height: 130%;
              }
            }
          }
        }
      }
      .footer__nav{
        @include flex(row, flex-start, flex-start);
        gap: 75px;
        .footer__nav__item{
          width: 100%;
          max-width: 169px;
          @include flex(column, flex-start, flex-start);
          gap: 15px;
          h6{
            color: var(--gray-900);
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-weight: 600;
            line-height: 130%;
          }
          ul{
            @include flex(column, flex-start, flex-start);
            gap: 15px;
            li{
              a{
                p{
                  color: var(--gray-700);
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 130%;
                }
              }
              &:hover{
                p{
                  color: var(--gray-900);
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
      .footer__content__right{ 
        @include flex(column, flex-start, flex-start);
        width: 100%;
        max-width: 279px;
        .footer__content__right__address, .footer__content__right__contact{
          h6{
            color: var(--gray-900);
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-weight: 600;
            line-height: 130%;
            margin-bottom: 18px;
          } 
        }
        .footer__content__right__address{
          p{
            color: var(--gray-700);
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 130%;
          }
        }
        .footer__content__right__contact{
          margin-top: 30px;
          ul{
            @include flex(column, flex-start, flex-start);
            gap: 15px;
            li{
              a{
                @include flex(row, center, flex-start);
                gap: 15px;
                i,p{
                  color: var(--gray-700);
                  font-family: 'Roboto', sans-serif;
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 130%;
                }
                &:hover{
                  p{
                    color: var(--gray-900);
                    text-decoration: underline;
                  }
                }
              }
            }
          }
        }

      }
    }
    .footer__bottom{
      @include flex (row, center, space-between);
      padding: 30px 0px;
      border-top: 1px solid #DADCDD;
      gap: 20px;
      p{
        color: var(--gray-700);
        font-size: 14px;
        font-weight: 400;
        line-height: 130%;
        width: 100%;
        max-width: 1007px;
      }
      button{
        @include flex (row, center, center);
        min-width: 32px;
        min-height: 32px;
        border-radius: 50%;
        border: 1px solid var(--gray-900);
        transition: all .2s ease-in-out;
        &:hover{
          background-color: var(--gray-900);
          color: var(--white);
        }
      }
    }
  }
  // Responsive
  @media (max-width: 991px){
    .container{
      .footer__content{
        padding: 60px 0px;
        @include flex (column, center, center);
        gap: 30px;
        .footer__content__left{
          @include flex (column, center, center);
          ul{
            @include flex (column, center, center);
            text-align: center;
          }
        }
        .footer__nav{
          @include flex (column, center, center);
          text-align: center;
          gap: 30px;
          .footer__nav__item{
            max-width: 100%;
            @include flex (column, center, center);
            ul{
              @include flex (column, center, center);
            }
          }
        }
        .footer__content__right{
          @include flex (column, center, center);
          text-align: center;
          .footer__content__right__address, .footer__content__right__contact{
            text-align: center;
            ul{
              @include flex (column, center, center);
            }
          }
        }
      }
      .footer__bottom{
        text-align: center;
        p{
          max-width: 100%;
        }
        @include flex (column, center, center);
      }
    }
  }
  @media (max-width: 768px){
    .container{
      .footer__content{
        padding: 30px 0px;
      }
    }
  }
}