.section__contact__content {
  margin: 100px 0px;
  .container {
    h2 {
      font-family: 'Roboto Flex', sans-serif;
      font-weight: 600;
      font-size: 30px;
      line-height: 100%;
      color: #33303E;
      margin-bottom: 30px;
    }
    .p__section__contact__content{
      margin-bottom: 40px;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 175%;
      color: var(--gray-900);
    }
    ul {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 60px;
      .info-01 {
        width: 100%;
        max-width: 379px;
      }
      .info-01,
      .info-02,
      .info-03 {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 40px;
        .info-01-hours,
        .info-02-hours,
        .info-03-hours {
          h5 {
            font-family: 'Roboto', sans-serif;
            font-weight: 600;
            font-size: 16px;
            line-height: 175%;
            color: var(--gray-900);
            margin-bottom: 5px;
          }
          p {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 175%;
            color: var(--gray-800);
            a {
              font-family: 'Roboto', sans-serif;
              font-weight: 500;
              font-size: 16px;
              line-height: 175%;
              color: var(--gray-800);
              &:hover {
                text-decoration: underline;
                color: var(--primary-blue);
              }
            }
          }
        }
        .info-01-content,
        .info-02-content,
        .info-03-content {
          h5 {
            font-family: 'Roboto', sans-serif;
            font-weight: 600;
            font-size: 16px;
            line-height: 175%;
            color: var(--gray-900);
            margin-bottom: 5px;
            a {
              font-family: 'Roboto', sans-serif;
              font-weight: 500;
              font-size: 16px;
              line-height: 175%;
              color: var(--gray-800);
              &:hover {
                text-decoration: underline;
                color: var(--primary-blue);
              }
            }
          }
          p {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 175%;
            color: #33303E;
            a {
              font-family: 'Roboto', sans-serif;
              font-weight: 500;
              font-size: 16px;
              line-height: 175%;
              color: var(--gray-800);
              &:hover {
                text-decoration: underline;
                color: var(--primary-blue);
              }
            }
          }
        }
      }
    }
    .message-info {
      margin-top: 50px;
      margin-bottom: 25px;
      font-family: 'Roboto', sans-serif, sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 175%;
      color: #33303E;
    }
    span {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 13px;
      line-height: 175%;
      color: var(--gray-700);
    }
  }

  // Responsive
  @media (max-width: 1050px) {
    padding-bottom: 60px;
    .container {
      ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 60px;
      }
    }
  }

  @media (max-width: 768px) {
    padding-bottom: 40px;
    .container {
      h2 {
        text-align: center;
        margin-bottom: 30px;
      }
      .p__section__contact__content{
        text-align: center;
      }
      ul {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        .info-01,
        .info-02,
        .info-03 {
          align-items: center;
          text-align: center;
          max-width: 100%;
          gap: 30px;
        }
      }
      span, .message-info {
        text-align: center !important;
      }
      .message-info {
        margin-top: 30px;
      }
    }
  }
}