*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    outline: 0;
}
html{
    font-size: 62.5%;
    overflow-x: hidden !important;
    scroll-behavior: smooth;
}
body{
    -webkit-font-smoothing: antialiased;
}
main{
    position: relative !important;
    min-height: 100vh;
}
svg, img{ 
    max-width: 100%;
}
button, a{
    background-color: transparent;
    border: none;
    cursor: pointer !important;
}
button{
    all: unset;
}
:focus{
    outline: 0;
    box-shadow: 0 0 0 2px var(--primary-blue);
}
