:root{
    // Gradient
    --brand-gradient: linear-gradient(115.6deg, #000000 -7.5%, #151515 105.49%);
    // Black Colors
    --black-light:#1A1A1A;
    --black-lighten: #192033;
    --black-normal:#010101;
    --black-dark: #000000;
    // White Colors
    --white: #FFFFFF;
    --white-normal:#F5F5F5;
    --white-dark:#D9D9D9;
    // Gray Colors
    --gray-brand:#6A6A6A;
    --gray-900: #030E15;
    --gray-800: #2D3235;
    --gray-700: #4F5152;
    --gray-600: #78797A;
    --gray-500: #9A9D9E;
    --gray-400: #BABCBD;
    --gray-300: #C6C7C8;
    --gray-200: #DADCDD;
    --gray-100: #F6F6F6;
}