@import 'mixins';
@import 'variables';
@import 'keyframes';
@import 'fonts';
@import 'reset';
@import 'container';
@import 'titles';
@import 'components';
@import 'header';
@import 'footer';
@import 'home';
@import 'modal';